attrs==19.3.0
click==7.1.2
flasgger==0.9.4
Flask==1.1.2
Flask-Cors==3.0.8
flask-marshmallow==0.13.0
Flask-Script==2.0.6
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
MarkupSafe==1.1.1
marshmallow==3.7.0
mistune==0.8.4
pyrsistent==0.16.0
python-dotenv==0.14.0
PyYAML==5.3.1
six==1.15.0
Werkzeug==1.0.1
